@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
}

@layer components {
    .nav-item-selected {
        @apply underline underline-offset-8
    }
}

.nav-default {
    @apply flex items-center !px-10 !h-20 space-x-4 bg-red-600 text-white top-0 !mx-0 !mt-0 w-full
}

.nav-item {
    @apply px-3 py-2 text-xl bg-transparent hover:nav-item-selected hover:cursor-pointer
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.05);;
    background-color: #fafafa;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 8px;
    border-radius: 25px;
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: #cccccc;
    border: 2px solid #cccccc;
}
